<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Mi Tienda</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/inventario']" routerLinkActive="active">Inventario</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/ventas']" routerLinkActive="active">Ventas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/menu']" routerLinkActive="active">Menú/Pedidos</a>
        </li>
      </ul>
      
      <div class="d-flex">
        <span class="navbar-text me-3">
          Bienvenido, Usuario
        </span>
        <button class="btn btn-outline-light" type="button">Cerrar sesión</button>
      </div>
    </div>
  </div>
</nav>

<div class="container mt-4">
  <router-outlet></router-outlet>
  <app-menu></app-menu>
</div>